.foot-inverse {
	position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  padding-top: 10px;
    text-align: center;
    width: 100%;
    background-color: #222;
    color: white;
}
